.select{
    width: 60%;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    height: auto;
    font-size: 16px;
    font-family: Sofia,Helvetica,Arial,sans-serif;
    color: grey;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-bottom: 2%;
}